@font-face {
    font-family: 'ArialRounded';
    font-display: swap;
    src: url('/fonts/ArialRounded/Arial_Rounded_MT.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

h1,
h2 {
    margin-top: 34px;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 4px;
    line-height: 1.4em;
}

h1 {
    font-size: 34px;
}

p {
    font-size: 18px;
    line-height: 1.6em;
    color: hsl(357, 12%, 42%);
}

a {
    text-decoration: none !important;
    font-weight: bold;
    color: hsl(2, 66%, 58%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #F71500;
}

.container-pomodoro {
    background-color: #f73a29;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 80vw; /* Utiliser une unité relative */
    height: auto; /* Permettre la hauteur automatique */
    aspect-ratio: 1 / 1; /* Maintient le rapport de forme 1:1 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}

.timer div {
    margin: 0 5px;
}

button {
    background-color: #ff6f61;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #fefefe;
    color: #444;
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* FORMULAIRE */
/* Superposition du formulaire */
.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 90%;
    text-align: center;
}

.close-btn {
    position: absolute; /* Positionnement absolu */
    top: 10px; /* Espace du haut */
    right: 10px; /* Espace de la droite */
    background: none; /* Pas d'arrière-plan */
    border: none; /* Pas de bordure */
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Gras */
    cursor: pointer; /* Curseur pointer */
    color: #ff6f61; /* Couleur du texte */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s ease; /* Transition pour la couleur */
}

.close-btn:hover {
    color: #f33; /* Couleur au survol */
}



/* Superposition de l'arrière-plan */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
    z-index: 999;
    display: none; /* Masqué par défaut */
}



.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-container input:focus {
    border-color: #ff6f61;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.3);
}

.form-container button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.form-container button:hover {
    background-color: #ff3b2d;
}

.form-container button:active {
    transform: scale(0.95);
}

/* SETTINGS */
#gear-container {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#gear-container:hover {
    color: #ccc;
}

.form-container {
    margin-top: 15px;
}

.fas.fa-cog {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* STATUS PAUSE/TRAVAIL */
.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.status {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.travail,
.pause {
    color: #999; /* Couleur grisée quand inactif */
    border: 2px solid transparent; /* Pas de contour par défaut */
}

/* Quand l'état est actif */
.active-travail {
    color: #E57373; /* Rouge clair pour le texte Travail */
    border: 2px solid #E57373; /* Contour rouge pour Travail */
    background-color: #FFEBEE; /* Fond léger pour Travail */
}

.active-pause {
    color: #81C784; /* Vert clair pour le texte Pause */
    border: 2px solid #81C784; /* Contour vert pour Pause */
    background-color: #E8F5E9; /* Fond léger pour Pause */
}

/* Style du tooltip */
.tooltip {
    display: none; /* Masqué par défaut */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

#gear-container {
    position: relative; /* Pour positionner le tooltip par rapport à l'engrenage */
}

#gear-container:hover .tooltip {
    display: block; /* Affiche le tooltip au survol */
}


/* RESPONSIVE */
@media (min-width: 600px) {
    .container-pomodoro {
        width: 60vw; /* Ajustement pour les tablettes */
        height: auto; /* Permet la hauteur automatique */
    }

    .timer {
        font-size: 42px; /* Augmente légèrement la taille de la police */
    }

    button {
        padding: 14px 28px; /* Ajuste la taille du bouton */
        font-size: 18px; /* Augmente la taille de la police pour les boutons */
    }
}

/* Styles pour les écrans larges (ordinateurs) */
@media (min-width: 992px) {
    .container-pomodoro {
        width: 400px; /* Taille fixe pour les ordinateurs */
        height: 400px; /* Assure un cercle parfait */
    }

    .timer {
        font-size: 48px; /* Taille de police plus grande pour les grands écrans */
    }

    button {
        padding: 16px 32px; /* Taille du bouton plus grande */
        font-size: 20px; /* Taille de police plus grande pour les boutons */
    }
}
